<head>
	<meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        <script src="https://kit.fontawesome.com/fca625cbfc.js" crossorigin="anonymous"></script>
</head>
<body>
  <div class="card">
        <div class="card-header">
            <h3>Enrolled Students</h3>
        </div>
    </div>
    

<table class="table table-dark">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Admission</th>
      <th scope="col">Surname </th>
      <th scope="col">Name</th>
    </tr>
  </thead>
  <tbody>
      {% for object in object_list %}
    <tr>
      <th scope="row">{{forloop.counter}} </th>
      <td>{{ object.admission }}</td>
      <td>{{ object.last_name }}</td>
      <td>{{ object.first_name }}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>
EXPORT THE DATA IN:
    <p><a class ='btn  btn-success btn-sm' href="{% url "pdf" %}"><i class="fa fa-file-pdf-o" aria-hidden="true"></i></a>pdf</p><br>
        <p><a class ='btn  btn-secondary btn-sm' href="{% url "json" %}"><i class=" fas fa-code" aria-hidden="true"></i></a>json</p><br>
            <p><a class ='btn  btn-primary btn-sm' href="{% url "excel" %}"><i class="fa fa-file-excel-o" aria-hidden="true"></i></a>excel</p><br>
                <p><a class ='btn btn-warning btn-sm' href="{% url "csv" %}"><i class="fas fa-address-book" aria-hidden="true"></i></a>csv</p><br>
</body>
</html>
